/*Paleta de cores: https://paletton.com/#uid=73G0u0k++XirqZUDh+V+Vz8ZZq4*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f3ee;
    text-align: center;
}
header {
    background: #000000;
    color: white;
    padding: 20px; /* espaçamento interno 15px acima e abaixo, e 0px esquerda e direita*/
    font-size: 24px;
    text-align: left;
    position: relative;
    z-index: 1;
}
nav {
    background-color: #0060f5;
    padding: 10px;
    display: flex; /* Flex Boxing */
    justify-content: space-between; /* alinhamento na horizontal */
    align-items: center; /* alinhamento na vertical */
    position: relative;
    z-index: 1;
}
#links-menu {
    display: flex;
    gap: 20px;
}
#trote-img {
    position: absolute;
    top: 2%; /* Ajuste fino para sobreposição */
    right: 0; /* Alinha no canto direito */
    max-width: 200px; 
    height: auto;
    z-index: 2; /* Mantém abaixo do texto */
}
img {
    width: 8%;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}
/* configura o estilo das âncoras que estão dentro do nav */
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    background-color:#0391cd;
    border-radius: 8px;
    margin: 7px;
    font-weight: bold;
}
nav a:hover {
    background-color: #fbb304;
}
.container {
    width: 80%;
    margin: 15px auto;
    background-color: white;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: justify;
    border: 2px solid #0391cd;
}
/* referenciar id # */
/* referenciar class . */
h2 {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
}
.center p {
    text-align: center;
}
.finalidades {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f4f3ee;
    padding-top: 7px;
    padding-bottom: 7px;
}
.finalidades h4 {
    text-align: justify;
    margin: 10px 0;
}

.finalidades h5 {
    text-align: justify;
    margin: 10px 20px;
    font-size: 90%;
}

p {
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    padding: 3px;
    border-radius: 5px;
}
/* Centralizar o h2 apenas na página inicial */
.pagina-inicial h2 {
    text-align: center;
}

/* Nas outras páginas, o título começa à esquerda */
section h2 {
    text-align: left;
}

.caixas {
    width: 45%;
    margin: 2px auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f4f3ee;
    padding-top: 0px;
    padding-bottom: 0px;
}

.caixas-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espaçamento entre os itens */
}

table {
    width: 85%;
    border-collapse: collapse;
    margin: 20px 7.5%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: #f2f2f2;
}

th {
    background-color: #0391cd;
}

.pontuacao {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed black;
    padding: 5px 0;
}


@media (max-width: 768px) {
    #trote-img {
        max-width: 120px;
    }
}
